<!-- Z galerie.html -->

<h2>Join our mailing list:</h2>
<form action="{% url 'signup' %}">
    <div class="mb-3">
        <label for="email" class="form-label">
            Enter your email:
        </label>
        <input type="email" class="form-control" name="email" />
    </div>
    <button type="submit">
        Sign Up
    </button>
</form>

<div class="banner_1">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer lacinia. Duis pulvinar. Phasellus enim
        erat, vestibulum vel, aliquam a, posuere eu, velit. Aenean vel massa quis mauris vehicula lacinia.
        Suspendisse nisl. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
        velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
        voluptatem. Suspendisse sagittis ultrices augue. Sed vel lectus. Donec odio tempus molestie, porttitor
        ut, iaculis quis, sem. Fusce tellus. Nam libero tempore, cum soluta nobis est eligendi optio cumque
        nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis
        dolor repellendus. Duis condimentum augue id magna semper rutrum. Morbi leo mi, nonummy eget tristique
        non, rhoncus non leo.
    </p>
</div>

<div class="banner_2">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer lacinia. Duis pulvinar. Phasellus enim
        erat, vestibulum vel, aliquam a, posuere eu, velit. Aenean vel massa quis mauris vehicula lacinia.
        Suspendisse nisl. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
        velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
        voluptatem. Suspendisse sagittis ultrices augue. Sed vel lectus. Donec odio tempus molestie, porttitor
        ut, iaculis quis, sem. Fusce tellus. Nam libero tempore, cum soluta nobis est eligendi optio cumque
        nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis
        dolor repellendus. Duis condimentum augue id magna semper rutrum. Morbi leo mi, nonummy eget tristique
        non, rhoncus non leo.
    </p>
</div>


<a href="{{ picture.url }}">
    Picture link ...
    </a>

<div class="PicturesLinks"></div>
https://img.freepik.com/premium-vector/bright-seamless-pattern-with-dog-bones_646529-254.jpg?w=740
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlZPPNRG_LRYNPflOCRhga6gzoN4eIJWKajcwKlsEjh1e-ys0GZWapiyJihQRcr3UTyh0&usqp=CAU
</div>